<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation Management</title>
    <link rel="icon" href="/images/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/styles.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/1.35.0/iconfont/tabler-icons.min.css"
          integrity="sha512-tpsEzNMLQS7w9imFSjbEOHdZav3/aObSESAL1y5jyJDoICFF2YwEdAHOPdOr1t+h8hTzar0flphxR76pd0V1zQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <style>
        .meal.active {

            /*background: #ffba5a;*/
            -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            /*border: 4px solid #ffba5a;*/
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        }
    </style>
</head>
<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar <%= (role === "receptionist") ? 'd-none' : '' %>">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="/manager/reservation" class="text-nowrap logo-img">
                    <img src="/images/Logo.png" width="150" alt=""/>
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-left"
                         width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 12l10 0"/>
                        <path d="M4 12l4 4"/>
                        <path d="M4 12l4 -4"/>
                        <path d="M20 4l0 16"/>
                    </svg>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">MANAGER</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/dashboard" aria-expanded="false">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2"
                                   width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                   fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                   <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                   <path d="M10 12h4v4h-4z"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/frontdesk" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-imac"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M3 4a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-12z"/>
                                  <path d="M3 13h18"/>
                                  <path d="M8 21h8"/>
                                  <path d="M10 17l-.5 4"/>
                                  <path d="M14 17l.5 4"/>
                                </svg>
                            </span>
                            <span class="hide-menu">Front desk</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/room" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed-filled"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M3 6a1 1 0 0 1 .993 .883l.007 .117v6h6v-5a1 1 0 0 1 .883 -.993l.117 -.007h8a3 3 0 0 1 2.995 2.824l.005 .176v8a1 1 0 0 1 -1.993 .117l-.007 -.117v-3h-16v3a1 1 0 0 1 -1.993 .117l-.007 -.117v-11a1 1 0 0 1 1 -1z"
                                         stroke-width="0" fill="currentColor"></path>
                                   <path d="M7 8a2 2 0 1 1 -1.995 2.15l-.005 -.15l.005 -.15a2 2 0 0 1 1.995 -1.85z"
                                         stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Room</span>
                        </a>
                    </li>
                    <li class="sidebar-item ">
                        <a class="sidebar-link active" href="/manager/reservation" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-bookmark-filled" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M14 2a5 5 0 0 1 5 5v14a1 1 0 0 1 -1.555 .832l-5.445 -3.63l-5.444 3.63a1 1 0 0 1 -1.55 -.72l-.006 -.112v-14a5 5 0 0 1 5 -5h4z"
                                         stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Reservation</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/invoice" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-dollar"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                   <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                   <path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"></path>
                                   <path d="M12 17v1m0 -8v1"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Invoice</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/feedback" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-message-report" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                                   <path d="M12 8l0 3"></path>
                                   <path d="M12 14l0 .01"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Feedback</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/service" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-plane-arrival" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M15.157 11.81l4.83 1.295a2 2 0 1 1 -1.036 3.863l-14.489 -3.882l-1.345 -6.572l2.898 .776l1.414 2.45l2.898 .776l-.12 -7.279l2.898 .777l2.052 7.797z"></path>
                                   <path d="M3 21h18"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Services</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/manager/meal" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-soup"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M4 11h16a1 1 0 0 1 1 1v.5c0 1.5 -2.517 5.573 -4 6.5v1a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-1c-1.687 -1.054 -4 -5 -4 -6.5v-.5a1 1 0 0 1 1 -1z"/>
                                      <path d="M12 4a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"/>
                                      <path d="M16 4a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"/>
                                      <path d="M8 4a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"/>
                                </svg>
                            </span>
                            <span class="hide-menu">Meal</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link logout" href="" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout-2"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"></path>
                                   <path d="M15 12h-12l3 -3"></path>
                                   <path d="M6 15l-3 -3"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Logout</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
    </aside>
    <aside class="left-sidebar <%= (role === "manager") ? 'd-none' : '' %>">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="/" class="text-nowrap logo-img">
                    <img src="/images/Logo.png" width="150" alt=""/>
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-left"
                         width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 12l10 0"/>
                        <path d="M4 12l4 4"/>
                        <path d="M4 12l4 -4"/>
                        <path d="M20 4l0 16"/>
                    </svg>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Receptionist</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/receptionist/frontdesk" aria-expanded="false">
                            <span>
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2"
                                   width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                   fill="none" stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                                   <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                   <path d="M10 12h4v4h-4z"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Frontdesk</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link active" href="/receptionist/reservation" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-bookmark-filled" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                   <path d="M14 2a5 5 0 0 1 5 5v14a1 1 0 0 1 -1.555 .832l-5.445 -3.63l-5.444 3.63a1 1 0 0 1 -1.55 -.72l-.006 -.112v-14a5 5 0 0 1 5 -5h4z"
                                         stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </span>
                            <span class="hide-menu">Reservation</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/contact" aria-expanded="false">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-note"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M13 20l7 -7"/>
  <path d="M13 20v-6a1 1 0 0 1 1 -1h6v-7a2 2 0 0 0 -2 -2h-12a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7"/>
</svg>
                            </span>
                            <span class="hide-menu">Send feedback</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <a href="#" class="col-2 link-primary card-title fw-semibold card-link">Upcoming</a>

                    </div>
                    <div class="row">
                        <div class="col">
                            <% reservations.forEach(function(reservation) { %>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Reservation Id: <%= reservation.id %></h5>
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <h6 class="card-subtitle fw-semibold">Check in:
                                                    <span
                                                            class="fw-light text-muted"><%= new Date(reservation.checkIn).toLocaleString() %></span>
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <h6 class="card-subtitle fw-semibold">Check out: <span
                                                            class="fw-light text-muted"><%= new Date(reservation.checkOut).toLocaleString() %></span>
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <h6 class="card-subtitle fw-semibold">Guests: <span
                                                            class="fw-light text-muted"><%= reservation.guests %></span>
                                                </h6>
                                            </div>
                                            <div class="col-1 text-end">
                                                <div class="d-flex align-items-center gap-2 cursor-pointer"
                                                     data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-dots" width="24"
                                                         height="24" viewBox="0 0 24 24" stroke-width="2"
                                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                                     aria-labelledby="drop2">
                                                    <div class="message-body">
                                                        <a href="#"
                                                           class="update-reservation d-flex align-items-center gap-2 dropdown-item"
                                                           data-bs-toggle="modal" data-bs-target="#editReservationModal"
                                                           data-id="<%= reservation.id %>">
                                                            <p class="mb-0 fs-3">Edit</p>
                                                        </a>
                                                        <a href="#"
                                                           class="addMeal d-flex align-items-center gap-2 dropdown-item"
                                                           data-bs-toggle="modal" data-bs-target="#addMealModal"
                                                           data-id="<%= reservation.id %>">
                                                            <p class="mb-0 fs-3">Add meal</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <div class="col">
                                                <h6 class="card-subtitle fw-semibold">Name:
                                                    <span
                                                            class="fw-light text-muted"><%= reservation.fname + " " + reservation.lname %></span>
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <h6 class="card-subtitle fw-semibold">Phone: <span
                                                            class="fw-light text-muted"><%= reservation.phone %></span>
                                                </h6>
                                            </div>
                                            <div class="col">

                                            </div>
                                            <div class="col-1 text-end invisible">
                                                <div class="d-flex align-items-center gap-2 cursor-pointer">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-dots" width="24"
                                                         height="24"
                                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                         fill="none"
                                                         stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-2 justify-content-start ">
                                            <div class="col d-flex align-items-center">
                                                <h6 class="card-subtitle fw-semibold">Room: </h6>
                                                <span class="badge bg-success rounded-3 "><%= reservation.room.roomNumber %></span>
                                            </div>
                                        </div>
                                        <div class="row mb-2 justify-content-start ">
                                            <div class="col d-flex align-items-center">
                                                <h6 class="card-subtitle fw-semibold">Status: <span
                                                            class="fw-light text-muted"><%= reservation.status %></span>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row mb-2 justify-content-start ">
                                            <div class="col d-flex align-items-center">
                                                <% if (reservation.meals) { %>
                                                    <h6 class="card-subtitle fw-semibold">Meal:
                                                        <% reservation.meals.forEach((meal) => { %>
                                                            <span class="fw-light text-muted"><%= meal.quantity + ' ' + meal.meal_id.name %></span>
                                                        <% }) %>
                                                    </h6>
                                                <% } else { %>
                                                    <h6 class="card-subtitle fw-semibold">Meal: <span
                                                                class="fw-light text-muted">None</span></h6>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="row mb-2 justify-content-start ">
                                            <div class="col d-flex align-items-center">
                                                <h6 class="card-subtitle fw-semibold">Airport transfer:
                                                    <% if (reservation.transport) { %>
                                                        <a href="/manager/transport/<%= reservation.transport._id %>"
                                                           onclick="<%= (role === "receptionist") ? 'return false;' : '' %>"
                                                           class="link-info   <%= (role === "receptionist") ? 'text-muted' : '' %>"><%= (role === "receptionist") ? reservation.transport.time : 'View detail' %></a>
                                                    <% } else { %>
                                                        <span class="fw-light text-muted"> None</span>
                                                </h6>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="row mb-2 justify-content-start ">
                                            <div class="col d-flex flex-row">
                                                <h6 class="card-subtitle fw-semibold">Special request: <span
                                                            class="fw-light text-muted"><%= reservation.note %></span>
                                                </h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            <% }) %>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item <%= pagination.page == 1 ? 'disabled' : '' %>">
                                        <a class="page-link"
                                           href="/manager/invoice/?page=<%= +pagination.page - 1 && 1 %>"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <% for (let i = 1; i <= pagination.pages; i++) { %>
                                        <li class="page-item <%= i == (pagination.page) && 'active' %>">
                                            <a class="page-link" href="/manager/invoice/?page=<%= i %>"
                                            ><%= i %></a>
                                        </li>
                                    <% } %>
                                    <li class="page-item <%= pagination.page == pagination.pages ? 'disabled' : '' %>">
                                        <a
                                                class="page-link"
                                                href="/manager/invoice/?page=<%= +pagination.page + 1 %>"
                                                aria-label="Next"
                                        >
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit reservation modal -->
            <div class="modal fade" id="editReservationModal" tabindex="-1" role="dialog" aria-labelledby=""
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Edit reservation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex flex-row justify-content-center row">
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="text-black font-weight-bold" for="reservation_fname--edit">First
                                                name</label>
                                            <input type="text" id="reservation_fname--edit" class="form-control ">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="text-black font-weight-bold" for="reservation_lname--edit">Last
                                                name</label>
                                            <input type="text" id="reservation_lname--edit" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label class="text-black font-weight-bold" for="reservation_phone--edit">Phone</label>
                                            <input type="text" id="reservation_phone--edit" class="form-control ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label class="text-black font-weight-bold" for="reservation_status--edit">Status</label>
                                            <select name="" id="reservation_status--edit" class="form-control">
                                                <option value="Confirmed">Confirmed</option>
                                                <option value="Checked in">Checked in</option>
                                                <option value="Checked out">Checked out</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label class="text-black font-weight-bold"
                                                   for="reservation_room--edit">Room</label>
                                            <input type="text" id="reservation_room--edit" class="form-control ">
                                        </div>
                                    </div>

                                    <span class="d-block text-uppercase">Airport Transfer:</span>

                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label for="reservation_vehicle--edit" class="font-weight-bold text-black">Vehicle</label>
                                            <div class="field-icon-wrap">
                                                <select name="" id="reservation_vehicle--edit" class="form-control">
                                                    <option value="Car">Car</option>
                                                    <option value="Bus">Bus</option>
                                                    <option value="Limousine">Limousine</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="row mb-4">
                                            <div class="col-md-12 form-group">
                                                <label class="text-black font-weight-bold" for="reservation_note--edit">Notes</label>
                                                <textarea name="message" id="reservation_note--edit"
                                                          class="form-control " cols="30" rows="8"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                            <button type="button" class="editReservationBtn btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit reservation modal -->
            <!-- Add meal modal -->
            <div class="modal fade modal-fullscreen modal-fullscreen-lg-down" id="addMealModal" tabindex="-1"
                 role="dialog" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-fullscreen modal-fullscreen-lg-down"
                     role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">Add meal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body  ">
                            <div class="row meals mx-2 align-items-stretch">
                                <% meals.forEach(function(meal) { %>
                                <div class="col-3 p-2 ">
                                    <div class="card meal h-100 mb-0" data-id="<%= meal.id %>">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= meal.name %></h5>
                                            <p class="card-text"><%= meal.ingredients %></p>
                                            <a href="#" class="btn btn-dark-light"><%= meal.price %></a>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                            <button type="button" class="addMealBtn btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add meal modal -->
        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="/js/manager/sidebarmenu.js"></script>
<script src="/js/manager/reservation.js"></script>
<script>
    $(document).ready(function () {
        $('.logout').click(function () {
            $.ajax({
                url: '/api/v1/auth/logout',
                type: 'GET',
                success: function (data) {
                    if (data.message == 'Logout success') {
                        window.location.href = '/manager/login';
                    }
                }
            });
        });

        $('.meal').on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('active');
        })
    });
</script>
</body>

</html>